<div class="container-fluid">
	<%= image_tag "library-banner.jpg", class: "img-responsive img-rounded" %>

	<h1>Groups</h1>

  <% if @posts.length != 0 %>
	  <div class="panel-group" id="accordion">
		  <%= render partial: "post", collection: @posts %>
    </div>
  <% else %>
    <%= I18n.t('post.no_posts_message') %>
  <% end %>
</div>
