<!--$("div#accordion").replaceWith("<%= escape_javascript(render partial: 'post', collection: @posts) %>");-->
<!--$alert("div.panel.panel-default").find("div.panel-collapse.collapse.in");-->
$("div#accordion").replaceWith("<div class='panel-group' id='accordion'><%= escape_javascript(render partial: 'post', collection: @posts) %></div>");