<!--$("div#accordion").replaceWith("<%= escape_javascript(render partial: 'post', collection: @posts) %>");-->
$("div#accordion").replaceWith("<div class='panel-group' id='accordion'><%= escape_javascript(render partial: 'post', collection: @posts) %></div>");
alert("birds!");